* {
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 14px;
    border-style: none;
    border-width: 1px;
    border-color: red;
    margin: 0;
    padding: 0;
}
html, body {
    background: white;
/*    height: calc(100% - 90px);*/
/*    min-height: 740px; */
/*    max-height: 740px;*/
/*    max-width: 640px;*/
    margin: auto;
}
@media print {
    .not-print {
        display: none;
    }
}
h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}
h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}
nav {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    left: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    background: rgba(245,245,245,1);
    border-bottom: solid 2px grey;
/*    box-shadow: 0px 0px 4px -1px lightslategray;*/
}
nav li {
    display: inline-block;
}
nav a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0px 10px 0px 10px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: black;
    background: rgba(225,225,225,1);
}
.main {
    position: relative;
    width: 640px;
    left: 0px;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: auto;
    color: black;
}
.main li {
    list-style-image: url("../images/dot.svg");
    list-style-position: inside;
    tab-size: 20px;
    text-align-all: justify;
    text-align-last: left;
    text-indent: 20px;
    font-weight: 100;
    font-size: 16px;
    line-height: 2;
    padding: 10px 10px 10px 20px;
}
.main p {
    font-size: 16px;
    font-weight: 100;
    text-align-all: justify;
    text-align-last: left;
    padding: 10px 10px 0px 10px;
}
form {
    width: 640px;
    margin: auto;
    margin-bottom: 20px;
}
legend {
    display: block;
    text-align: center;
    width: 100%;
    padding: 30px 0px 0px 0px;
    font-size: 24px;
    font-weight: 500;
}
label {
    position: relative;
    display: block;
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}
select {
    display: block;
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin: auto;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: black;
    vertical-align: middle;
    background-color: white;
    background-image: url("../images/select_arrow.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 12px;
    border: 2px solid rgba(225,225,225,1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select:focus {
    outline: 0px;
    box-shadow: 0px 0px 0px 2px rgba(225,255,225,1);
}
select:disabled {
    color: rgba(235,235,235,1);
    background-color:rgba(250,250,250,1);
}
select:-moz-focusing {
    color: transparent;
}
input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
    margin: auto;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: black;
    vertical-align: middle;
    background-color: white;
    border: 2px solid rgba(225,225,225,1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:focus {
    outline: 0px;
    box-shadow: 0px 0px 0px 2px rgba(225,255,225,1);
}
button {
    display: inline-block;
    align: center;
    width: 180px;
    height: 50px;
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: black;
    text-transform: uppercase;
    vertical-align: middle;
}
button:active {
    background-color: rgba(225,225,225,1);
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0px 0px 0px;
}
.btn_submit {
    background-color: rgba(205,245,205,1);
}
.btn_reset {
    background-color: rgba(245,205,205,1);
}
.btn_result {
    background-color: rgba(205,205,245,1);
}
.red_text {
    color: red;
    font-size: 16px;
    font-weight: 500;
}
.footer {
    position: fixed;
    display: block;
    bottom: 0px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: auto;
    background: rgba(245,245,245,1);
}
.footer-text {
    display: block;
    width: 640px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-weight: 100;
    font-size: 12px;
}
.table {
    display: block;
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
}
.col1, .col2, .col3, .col4, .col5, .col6  {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    line-height: 1;
    color: black;
    vertical-align: middle;
}
.col-h {
    width: 640px;
    background-color: rgba(245,245,245,1);
    padding: 5px 0px 5px 0px;
}
.note {
    font-size: 12px;
    font-weight: 100;
}
.flash_ok {
    position: absolute;
    display: block;
    left: calc(50% - 100px);
    background-color: rgba(225,255,225,0.5);
    color: black;
    font-size: 12px;
    font-weight: 100;
    width: 200px;
    height: 15px;
    margin: auto;
    padding: 5px 10px 5px 10px;
    text-align: center;
    vertical-align: middle;
}
.flash_error {
    position: absolute;
    display: block;
    left: calc(50% - 100px);
    background-color: rgba(255,225,225,0.5);
    color: black;
    font-size: 12px;
    font-weight: 100;
    width: 200px;
    height: 15px;
    margin: auto;
    padding: 5px 10px 5px 10px;
    text-align: center;
    vertical-align: middle;
}