* {
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 14px;
    border-style: none;
    border-width: 1px;
    border-color: red;
    margin: 0;
    padding: 0;
}
html, body {
    background: white;
    height: calc(100% - 90px);
    min-height: 740px;
    max-height: 740px;
    max-width: 640px;
    margin: auto;
}
@media print {
    .not-print {
        display: none;
    }
}
h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}
h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}
nav {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: calc(100% - 20px);
    left: 10px;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 20px 0px;
    background: lightslategray;
    border-radius: 5px;
    box-shadow: 0px 0px 4px -1px lightslategray;
}
nav li {
    display: inline-block;
}
nav a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0px 15px 0px 15px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: gainsboro;
    text-shadow: 0px 2px 4px darkslategray;
}
nav a:hover {
    color: white;
    background: slategray;
    border-radius: 5px;
}
.main {
    position: relative;
    width: calc(100% - 20px);
    left: 10px;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    background: aliceblue;
    box-shadow: 0px 0px 4px -1px lightslategray;
    color: darkslategray;
}
.main li {
    list-style-image: url("../images/dot.svg");
    list-style-position: inside;
    tab-size: 20px;
    text-align-all: justify;
    text-align-last: left;
    text-indent: 20px;
    font-weight: 100;
    font-size: 16px;
    line-height: 2;
    padding: 10px 10px 10px 20px;
}
.main p {
    font-size: 16px;
    font-weight: 100;
    text-align-all: justify;
    text-align-last: left;
    padding: 10px 10px 0px 10px;
}
legend {
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px 0px 0px 0px;
    font-size: 24px;
    font-weight: 500;
}
label {
    position: relative;
    display: block;
    width: calc(100% - 40px);
    padding: 5px 20px 5px 20px;
    margin: 5px 20px 5px 20px;
    font-size: 16px;
}
select {
    display: block;
    width: calc(100% - 40px);
    padding: 10px 30px 10px 15px;
    margin: 0px 20px 5px 20px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: darkslategray;
    vertical-align: middle;
    background-color: white;
    background-image: url("../images/select_arrow.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 12px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
}
select:focus {
    outline: 0px;
    box-shadow: 0px 0px 0px 2px lightslategray;
}
select:disabled {
    color:#6c757d;
    background-color:#e9ecef
}
select:-moz-focusring {
    color:transparent;
    text-shadow:0px 0px 0px #212529
}
input {
    display: block;
    width: calc(100% - 70px);
    padding: 0px 15px 0px 15px;
    margin: 0px 20px 5px 20px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: darkslategray;
    vertical-align: middle;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
}
input:focus {
    outline: 0px;
    box-shadow: 0px 0px 0px 2px lightslategray;
}
button {
    display: inline-block;
    align: center;
    width: 140px;
    height: 60px;
    margin: 0px 15px 0px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    text-shadow: 0px 2px 4px darkslategray;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 5px;
}
button:active {
    background-color: lightslategray;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0px 0px 0px;
}
.btn_submit {
    background-color: darkseagreen;
}
.btn_reset {
    background-color: darksalmon;
}
.btn_result {
    background-color: lightsteelblue;
}
.footer {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: calc(100% - 20px);
    left: 10px;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 10px 0px;
    background: lightslategray;
    border-radius: 5px;
    box-shadow: 0px 0px 4px -1px darkslategray;
    color: black;
    font-weight: 100;
    font-size: 12px;
    text-shadow: 0px 1px 3px white;
}
/*
.form {
    border-style: solid;
    padding: 0px;
    margin: 0px;
    width: 500px;
}
.form form {
    border-style: solid;
    padding: 0px;
    margin: 0px;
}
.form fieldset {
    border-style: solid;
    padding: 0px;
    margin: 0px;
}
.form legend {
    border-style: solid;
    padding: 0px;
    margin: 0px;
}
.form p {
    border-style: solid;
    padding: 0px;
    margin: 0px;
    text-indent: 0px;
}
.form label {
    border-style: solid;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    width: 250px;
    height: 40px;
}
.form select {
    font-family:"SF Pro Display";
    font-size: 18px;
    font-weight: 100;
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 40px;
    border-style: solid;
    border-radius: 0px;
    background: none;
}

.info {
    border-style: solid;
    border-color: blue;
}
/*
.menu-horizontal li:before {
    position: absolute;
    top: 100%;
    content: url("../images/dot.svg");
    width: 12px;
}
*/
/* As hex codes

.color-primary-0 { color: #2A4F6E }
.color-primary-1 { color: #E4EFF8 }
.color-primary-2 { color: #5E7080 }
.color-primary-3 { color: #05345B }
.color-primary-4 { color: #000204 }

.rgba-primary-0 { color: rgba(42,79,110,1) }
.rgba-primary-1 { color: rgba(228,239,248,1) }
.rgba-primary-2 { color: rgba(94,112,128,1) }
.rgba-primary-3 { color: rgba(5,52,91,1) }
.rgba-primary-4 { color: rgba(0,2,4,1) }
rgba(67, 123, 106, 1)
*/