{% extends 'base.html' %}

{% block main_about %}
{{ super() }}
<div class="main_about">
<h1>Oleksii Berezhnyi</h1>
<h2>Junior Python Developer</h2>
</div>
<div class="main_about_resume">
<div class="main_about_contact">
    <p><a href="tel:+380731989555" target="_blank">+380 73 198 95 55</a>
    <p><a href="mailto:o.v.ber@me.com" target="_blank">o.v.ber@me.com</a>
    <p><a href="https://t.me/Berezhnyi" target="_blank">t.me/Berezhnyi</a>
    <p><a href="https://github.com/ovber" target="_blank">github.com/ovber</a>
    <p><a href="https://www.linkedin.com/in/oleksiiberezhnyi/" target="_blank">linkedin.com/in/oleksiiberezhnyi</a>
    <p><a href="https://www.facebook.com/oleksii.berezhnyi" target="_blank">facebook.com/oleksii.berezhnyi</a>
</div>
<div class="main_about_info">
    <h3>Experience</h3>
    <h4>Civil Engineer</h4>
    <h5>Architectural bureau &laquoSKP-PLUS&raquo, 2012 — until today</h5>
    <ul>
        <li>Design and calculation of building constructions</li>
        <li>Project management and protection in the state examination</li>
        <li>Author's supervision of construction</li>
    </ul>
    <h3>Education</h3>
    <h5>BeetrootAcademy, 2021, Python Developer</h5>
    <h5>Yurii Kondratiuk Poltava National Technical University, 2014, Civil Engineer</h5>
    <h3>Skills</h3>
    <ul>
        <li>Python (Flask, Django, SQL, Telegram API), HTML, CSS;</li>
        <li>GitHub, Docker;</li>
        <li>Autodesk Revit, Autodesk AutoCAD, LIRA SAPR, Archicad</li>
        <li>Adobe Photoshop, Adobe Illustrator, Microsoft Office,  LibreOffice</li>
        <li>MacOS, Linux, Windows</li>
    </ul>
    <h3>Languages</h3>
    <h5>English — pre-intermediate</h5>
    <h5>Ukrainian — native</h5>

</div>
</div>
{% endblock %}
