{% extends 'base.html' %}

{% block main_about %}
{{ super() }}
<div class="main_about">
<h1>Oleksii Berezhnyi</h1>
<h2>Junior Python Developer</h2>
<div>
    <p>+380 73 198 95 55</p>
    <p>o.v.ber@me.com</p>
    <p>github.com/ovber</p>
    <p>t.me/Berezhnyi</p>
    <p>linkedin.com/in/oleksiiberezhnyi</p>
    <p>facebook.com/oleksii.berezhnyi</p>
</div>
<div>
    <h3>Досвід</h3>
<p>Інженер-проектувальник, ТОВ «Архітектурне бюро «СКП-ПЛЮС»
<p>2012 — До сьогодні
<p>Проектування та розрахунок будівельних конструкції. Ведення проектів та захист їх в експертизі. Ведення авторського нагляду за будівництвом.
    <h3>Освіта</h3>
    <p>BeetrootAcademy, 2021, Python Developer</p>
    <h3>Навички</h3>
<p>Python (Flask, Django, SQL, Telegram API), HTML, CSS;<br>
GitHub, Docker;<br>
Autodesk Revit, AutoCAD, LIRA SAPR, Archicad, Adobe Photoshop, Illustrator, Microsoft Office,  LibreOffice<br>
MacOS, Linux, Windows<br>
</div>
</div>
{% endblock %}
