<!doctype html>
<html lang="uk">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='SFPro/stylesheet.css')}}" rel="stylesheet" >
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {% if title %}
                Тестовий сайт — {{ title }}
            {% else %}
                Тестовий сайт
            {% endif %}
        {% endblock %}
    </title>
    {% block script %}
    {% endblock %}
</head>
<body>
    {% block header %}
        {% block main_menu %}
            <header>
                <nav class="">
                    <ul>
                    {% for m in menu %}
                        <li><a class="" href="{{ m.url }}">{{ m.name }}</a></li>
                    {% endfor %}
                        <li><a class="" href="/result_page">Результати&#8194;<span class="red_text">{{ count }}</span></a></li>
                    </ul>
                </nav>
            </header>
        {% endblock main_menu %}
    {% endblock %}
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>
    {% block footer %}
        <footer class="footer">
            Oleksii Berezhnyi. Beetroot Academy. January 2021
        </footer>
    {% endblock %}
</body>
</html>