{% extends 'base.html' %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}
{% block main %}
<div class="">
<form>
    <fieldset>
        <legend>Задайте параметри</legend>
            <p><label for="type_of_beam" class="">Виберіть тип перемички:</label>
                <select name="type_of_beam" id="type_of_beam" class="">
                    <option name="type_1" value="Серійна">Серійна перемичка</option>
                    <option name="type_2" value="Індивідуальна">Індивідуальна</option>
                </select>
            <p><label for="type_of_wall" class="">Виберіть тип стіни:</label>
                <select name="type_of_wall" id="type_of_wall" class="">
                    <option name="type_3" value="Несуча стіна">Несуча стіна</option>
                    <option name="type_2" value="Самонесуча стіна">Самонесуча стіна</option>
                    <option name="type_1" value="Перегородка">Перегородка</option>
                </select>
            <p id="hide_show"><label for="type_of_construction_wall" class="" >Виберіть опирання плит:</label>
                <select name="type_of_construction_wall" id="type_of_construction_wall">
                    <option name="type_4" value="Одна">Опирання з однієї сторони</option>
                    <option name="type_5" value="Дві">Опирання з двох сторін</option>
                </select>
            <p><label for="height_of_bricks" class="">Виберіть висоту цегли:</label>
                <select name="height_of_bricks" id="height_of_bricks">
                    <option name="type_6" value="65">65 мм</option>
                    <option name="type_7" value="88">88 мм</option>
                </select>
            <p><label for="width_of_opening" class="">Введіть ширину проєму, мм:</label>
                <input type="text" pattern="[0-9]{,4}" name="width_of_opening" id="width_of_opening" placeholder="900" value="900">
            <p><label for="width_of_wall" class="">Введіть товщину стіни, мм:</label>
                <select name="width_of_wall" id="width_of_wall">
                    <option name="type_120" value="120">120 мм</option>
                    <option name="type_250" value="250">250 мм</option>
                    <option name="type_380" value="380">380 мм</option>
                    <option name="type_510" value="510">510 мм</option>
                    <option name="type_640" value="640">640 мм</option>
                    <option name="type_770" value="770">770 мм</option>
                    <option name="type_900" value="900">900 мм</option>
                    <option name="type_1030" value="1030">1030 мм</option>
                </select>
<!--                <input type="text" pattern="[0-9]{,3}" name="width_of_wall" id="width_of_wall" placeholder="510" value="510">-->
            <div class="btn">
                <button type="submit" class="btn_submit" formmethod="post" formaction="/calculation">Додати перемичку</button>
                <button type="reset" class="btn_reset">Очистити форму</button>
                <button type="submit" class="btn_result" formmethod="post" formaction="/result" formtarget="_blank">Переглянути результат</button>
            </div>
    </fieldset>
</form>
</div>
<script type="text/javascript">
    $("#type_of_wall").change(function() {
    if ($(this).val() == "Несуча стіна") {
        $('#type_of_construction_wall').removeAttr('disabled', '');
        $('#hide_show').show();
    } else {
        $('#type_of_construction_wall').attr('disabled');
        $('#hide_show').hide();
    }
    });
    $("#type_of_wall").trigger("change");
</script>
{% endblock %}