{% extends 'base.html' %}

{% block main %}
<h1>Вітаємо вас на сайті</h1>
<h2>Даний сайт допоможу підібрати перемички для ваших проємів.</h2>
<p>На даний момент реалізований підбір перемичок для цегляних стін різної товщини (120 мм, 250 мм, ...) Та для різної товщини цегли (65 мм, 85 мм)
<p>Підбір можливий як для таких типів стін:
<ul>
    <li>опирання перекриття з однієї сторони;</li>
    <li>опирання перекриття з обох сторін;</li>
    <li>для самонесучих стін (без опирання плит перекриття)</li>
</ul>
<p>Також реалізований розрахунок індивідуальних перемичок.
{% endblock %}
