{% extends 'base.html' %}

{% block main %}
<!--<h1>Вітаємо вас на сайті</h1>-->
<h2>Підбір пакетів серійних перемичок</h2>
<p>На даний момент реалізований підбір перемичок для цегляних стін різної товщини (від 120 мм до 900 мм), та для різної товщини цегли (65 мм, 88 мм).
<p><b>Підбір можливий як для таких типів стін:</b>
<ul>
    <li>Несуча;</li>
    <li>Самонесуча;</li>
    <li>Перегородка</li>
</ul>
<p><b>Для несучих стін можна обрати такі параметри:</b>
<ul>
    <li>Опирання плит перекриття з однієї сторони;</li>
    <li>Опирання плит перекриття з двох сторін;</li>
</ul>
<h2>Розрахунок індивідуальних перемичок</h2>
<p>Якщо під час розрахунку ви отримали помилку про неможливість виконати підбір — то змініть пропорції перерізу (збільшіть висоту, товщину або зменшіть ширину проєму).
<p>Якщо вам потрібно виконати розрахунок саме з такими параметрами рекомендую звернутися в проектну організацію для проектування даної балки.

{% endblock %}
